:root {
    color-scheme: light dark;
}

body {
    min-height: max(884px, 100dvh);
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.material-symbols-outlined.filled {
    font-variation-settings: 'FILL' 1;
}

details summary::-webkit-details-marker {
    display: none;
}

details[open] summary span {
    transform: rotate(180deg);
}
